[Unit]
Description=HappyBirthdayBot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=dezzman
ExecStart=/home/dezzman/app/HBbot/.venv/bin/python /home/dezzman/app/HBbot/birthday_bot.py
WorkingDirectory=/home/dezzman/app/HBbot
Environment=VIRTUAL_ENV=/home/dezzman/app/HBbot/.venv
Environment=PATH=/home/dezzman/app/HBbot/.venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=PYTHONPATH=/home/dezzman/app/HBbot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
